<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - Edit <%= user.username %></title>

    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <link rel="stylesheet" type="text/css" href="/public/editUser.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0" />
</head>
<body>
    <header>
        <h1>Artify</h1>
        <ul class="main-nav">
            <li>Discover</li>
            <li>Forum</li>
            <li>My Profile</li>
        </ul>
        <a href="/logout">Log out</a>
    </header>

    <form action="/users/<%= user.id %>/profilepic" method="post" enctype="multipart/form-data">
        <label for="profilepic" id="pfp">
            <span class="material-symbols-outlined">
                add_photo_alternate
            </span>
            Choose a picture
        </label>
        <input type="file" name="profilepic" id="profilepic" accept="image/*">
        <input class="save-button" type="submit" value="Save picture">
    </form>
    <!-- <div class="editing-form"> -->
    <form action="/users/<%= user.id %>" method="post" class="editing-form">

        <h3>Edit profile:</h3>
        <div class="general-info">
            <label for="id" hidden>ID:</label>
            <input type="text" name="id" id="id" value="<%= user.id %>" hidden>
            <label for="username" hidden>Username:</label>
            <input type="text" name="username" id="username" minlength="3" maxlength="30" placeholder="Username" value="<%= user.username %>" required>
            <label for="email" hidden>Email:</label>
            <input type="email" name="email" id="email" placeholder="Email" value="<%= user.email %>" required>
            <label for="password" hidden>Password:</label>
            <input type="password" name="password" id="password" minlength="3" maxlength="30" placeholder="Password" value="<%= user.password %>" required>
            <label for="pronouns" hidden>Pronouns:</label>
            <select name="pronouns" id="pronouns">
                <option value=""></option>
                <option value="she/her">she/her</option>
                <option value="he/him">he/him</option>
                <option value="they/them">they/them</option>
            </select>
            <label for="location" hidden>Location</label>
            <input type="text" name="location" id="location" placeholder="Location" value="<%= user.location %>">
        </div>
        
        <label for="bio" hidden>Bio:</label>
        <!-- <input type="text" name="bio" id="bio" placeholder="Add info about yourself ..." value="<%= user.bio %>"> -->
        <textarea name="bio" id="bio" placeholder="Add info about yourself ..."><%= user.bio %></textarea>
        <div class="buttons">
            <button class="save-button" onclick="window.location.href = '/users/<%= user.id %>';">Save changes</button>
            <!-- <input type="submit" value="Save changes" class="save-button"> -->
            <a class="cancel-button" href="/users/<%= user.id %>">Cancel</a>
        </div>
    </form>
    <!-- <button class="cancel-button" onclick="window.location.href = '/users/<%= user.id %>'">Cancel</button> -->

    <!-- </div> -->

</body>
</html>