<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %></title>

    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>
<body>
    <header>
        <h1>Artify</h1>
        <ul class="main-nav">
            <li>Discover</li>
            <li>Forum</li>
            <li>My Profile</li>
            <!-- <li onclick="window.location.href= '/logout'">Logout</li> -->
        </ul>
        <a href="/logout">Log out</a>
    </header>

    <main>
        <ul class="sub-nav">
            <li>About</li>
            <li onclick="window.location.href = '/users/<%= user.id%>/gallery'">Gallery</li>
            <li>Favorites</li>
            <li>Subscriptions</li>
        </ul>
        <div class="user">
            <p>Username: <%= user.username %> </p>
            <p>Pronouns: <%= user.pronouns %></p>
            <p>Location: <%= user.location %> </p>
            <img id="profile-pic" src="" alt="">
            <p>Bio: <%= user.bio %> </p>
        </div>
        <button onclick="window.location.href = '/users/<%= user.id %>/edit';">Edit profile</button>
        <button class="delete-button">Delete account</button>
    </main>
</body>
</html>