<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - <%= user.username %></title>

    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/display.css">
</head>
<body>
    <header>
        <h1>Artify</h1>
        <ul class="main-nav">
            <li>Discover</li>
            <li>Forum</li>
            <li class="selected">My Profile</li>
        </ul>
        <a class="logout" href="/logout">Log out</a>
    </header>

    <main>
        <ul class="sub-nav">
            <li class="selected">About</li>
            <li onclick="window.location.href = '/users/<%= user.id%>/gallery'">Gallery</li>
            <li>Favorites</li>
            <li>Subscriptions</li>
            <button class="upload-button" onclick="window.location.href = '/users/<%= user.id %>/upload'">Add creation</button>
        </ul>

        <div class="user">
            <div class="general-info">
                <p id="username"><%= user.username %></p>
                <p><%= user.pronouns %></p>
                <p><%= user.location %></p>
            </div>
            <% if(user.profilepic === null) { %>
                <img class="profile-pic" src="/public/Assets/blank-profile-picture.png" alt="empty profile picture">
            <% } else { %>
                <img class="profile-pic" src="/public/uploads/profilepics/<%= user.profilepic %>" alt="profile picture of this user">
            <% } %>
                <p id="bio"><%= user.bio %></p>
        </div>

        <div class="buttons">
            <button class="edit-button" onclick="window.location.href = '/users/<%= user.id %>/edit'">Edit profile</button>
            <button class="edit-button-2" onclick="window.location.href = '/users/<%= user.id %>/profilepic'">Edit picture</button>
            <button class="edit-button-2" onclick="window.location.href = '/users/<%= user.id %>/password'">Change password</button>
            <form action="/users/<%= user.id %>/delete" method="post">
                <button class="delete-button" onclick="window.location.href = '/users/<%= user.id %>/delete';">Delete account</button>
            </form>
        </div>

        <div class="popup">
            <p>Do you really want to delete your account?</p>
            <form action="/users/<%= user.id %>/delete" method="post">
                <button id="delete" class="delete-button" onclick="window.location.href = '/users/<%= user.id %>/delete';">Yes</button>
            </form>
            <button id="cancel" class="cancel-button">No</button>
        </div>
    </main>
</body>
</html>