<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify - <%= user.username %></title>

    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/user.css">
</head>
<body>
    <header>
        <h1>Artify</h1>
        <ul class="main-nav">
            <li>Discover</li>
            <li>Forum</li>
            <li class="selected">My Profile</li>
        </ul>
        <a class="logout" href="/logout">Log out</a>
    </header>

    <main>
        <ul class="sub-nav">
            <li class="selected">About</li>
            <li onclick="window.location.href = '/users/<%= user.id%>/gallery'">Gallery</li>
            <li>Favorites</li>
            <li>Subscriptions</li>
        </ul>

        <div class="user">
            <div class="general-info">
                <p>Username: <%= user.username %> </p>
                <p>Pronouns: <%= user.pronouns %></p>
                <p>Location: <%= user.location %> </p>
            </div>
            <img id="profile-pic" src="/public/uploads/profilepics/<%= user.profilepic %>" alt="profile picture of this user">
            <p id="bio">Bio: <%= user.bio %> </p>
        </div>

        <div class="buttons">
            <button onclick="window.location.href = '/users/<%= user.id %>/edit';">Edit profile</button>
            <form action="/users/<%= user.id %>/delete" method="post">
                <button class="delete-button" onclick="window.location.href = '/users/<%= user.id %>/delete';">Delete account</button>
            </form>
            <button onclick="window.location.href = '/users/<%= user.id %>/upload'">Add creation</button>
        </div>
    </main>
</body>
</html>